@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}

html,
body {
  margin: 0;
}



header {
  display: block;
}

header .navigation {
  width: 100%;
  background: rgba(0, 110, 166, 0) !important;
  position: absolute;
  height: 50px;
}

header .navigation .container {
  display: flex;
  justify-content: space-between;
}

header .navigation .container .logo {
  line-height: 50px;
}

header .navigation .container .logo a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

header .navigation .container .feedback {
  line-height: 50px;
}

header .navigation .container .feedback a {
  color: white;
  text-decoration: none;
}

header .navigation .container .more_inf {
  line-height: 50px;
  color: white;
  border: solid 1px #fff;
}

header .navigation .container ul {
  display: flex;
}

header .navigation .container ul li {
  list-style: none;
  width: auto;
  margin-right: 2%;
}

.selected {
  color: red;
}

.main-photo {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.main-photo .opacity-photo {
  justify-content: left;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 2400px;
  height: 100vH;
  background-size: cover;
  max-height: 1300px;
  background-repeat: no-repeat;
  background-image: url(../img/main1.jpg);
  z-index: 2;
}

main-photo {
  background-image: url("img");
  background-repeat: no-repeat;
  background-size: cover;
}

.main-photo .opacity-photo .main-text {
  top: 10vW;
  color: #ffffff;
  z-index: 4;
  min-width: 50px;
  width: 50%;
  font-size: 2vw;
}

.main-photo .opacity-photo .main-text h1 {
  text-transform: uppercase;
  font-size: 2.5vw;
  max-width: 40ch;
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.main-photo .opacity-photo .main-text span {
  display: inline-block;
  opacity: 0;
  font-weight: 600;
  filter: blur(4px);
  padding-bottom: 3%;
}

.main-photo .opacity-photo .main-text span:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(8) {
  animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(9) {
  animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(10) {
  animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(11) {
  animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(12) {
  animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(13) {
  animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(14) {
  animation: fade-in 0.8s 1.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(15) {
  animation: fade-in 0.8s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(16) {
  animation: fade-in 0.8s 1.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(17) {
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.main-photo .opacity-photo .main-text span:nth-child(18) {
  animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

main {
  background-color: rgb(255, 255, 255);
}

.link_to_other_pages {
  background-color: rgba(0, 111, 166, 0.1215686275);
  padding: 3% 0;
}

.link_to_other_pages .link_to_other_pages_container_wrap {
  display: flex;
  justify-content: center;
}

.link_to_other_pages .link_to_other_pages_container_wrap .link_to_other_pages_container_wrap_text {
  text-align: center;
}

.link_to_other_pages .link_to_other_pages_container_wrap .link_to_other_pages_container_wrap_text h3 {
  font-weight: 600;
  color: #000;
}

.block {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  font-size: 0;
  margin-top: 30px;
  height: 30%;
}

.link {
  margin: 0 1%;
  width: 31.3%;
}

.block .link-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}

.block img {
  max-width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

.gallery-item {
  display: block;
  flex: 25%;
  overflow: hidden;
  position: relative;
}

.link_text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}

.link-item:hover .link_text1 {
  opacity: 1;
}

.zero-block {
  background-color: white;
  /* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
}

.zero-block .container {
  justify-content: space-between;
}

.zero-block .container .zero-block_right_part {
  margin-right: 2%;
}

.zero-block .container .zero-block_right_part .zero-block_information {
  font-size: 20px;
  margin-bottom: 7%;
  margin-top: 7%;
  max-width: 100%;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap {
  display: flex;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_element-animation {
  padding-bottom: 3%;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_element-animation h2 {
  color: #000;
  font-size: 2.4vw;
  font-weight: 600;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_mainText {
  color: #000;
  font-family: "EB Garamond", Sans-serif;
  font-size: 1.2vw;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_mainText .zero_block_poem {
  font-weight: 600;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_mainText .zero_block_poem .zero_block_autor {
  display: flex;
  justify-content: right;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_img {
  width: 40%;
}

.zero-block .container .zero-block_right_part .zero-block_information .wrap .zero-block_information_img img {
  max-width: 571px;
  width: 100%;
}

.element-animation {
  margin-right: 8%;
  width: 60%;
  margin-top: 2%;
  font-size: 1.3vW;
  text-align: justify;
  word-spacing: -2px;
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateY(20px);
  color: black;
}

.element-animation.element-show {
  opacity: 1;
  transition: all 1.5s;
  transform: translateY(0%);
}

.home_share_information_block {
  margin: 2% 0;
  font-size: 1.2rem;
}

.home_share_information_block {
  margin: 5% 0;
}

.home_share_information_block .home_share_information_container_wrap {
  margin-bottom: 2%;
}

.home_share_information_block .home_share_information_container_wrap .home_share_information_container_wrap_text {
  margin: 2% 0;
  font-size: 1.3vW;
}

.home_share_information_block .home_share_information_container_wrap .home_share_information_container_wrap_text h3 {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 2.4vW;
}

.home_share_information_block .share_button {
  width: 20vw;
  height: 2.5vw;
  font-size: 1.2vw;
  max-width: 430px;
}

.share_inf .modal-content {
  max-width: 900px;
  width: 35vW !important;
}

.share_inf .modal-dialog {
  max-width: 715px !important;
}

.modal-body .home-page_form .home-page_form_firstpart {
  margin-bottom: 5%;
  display: flex;
  max-width: 100%;
}

.modal-body .home-page_form .home-page_form_firstpart .home-page_form-person_information {
  margin-right: 2%;
  font-size: 1.2vw;
  width: 50%;
}

.modal-body .home-page_form .home-page_form_firstpart input {
  border-radius: 7px;
  width: 100%;
}

.modal-body .home-page_form .home-page_form_message {
  margin-bottom: 5%;
  font-size: 1.2vw;
}

.modal-body .home-page_form .home-page_form_message textarea {
  border-radius: 7px;
  width: 100%;
  height: 5vw;
  border: #000 2px solid;
}

.modal-body .home-page_form .home-page_form_file {
  margin-bottom: 5%;
}

.modal-body .home-page_form .home-page_form_button input {
  background: #006ea6;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  color: #fff;
  margin-bottom: 5%;
}

.share_button {
  background-color: #006ea6 !important;
}

.first-block {
  background-color: rgba(134, 164, 200, 0.4);
}

.first-block .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  font-size: 1.2vW;
}

.first-block .container .first-block_right_part {
  margin-right: 2%;
  width: 50%;
}

.first-block .container .first-block_right_part .first-block_header {
  font-size: 2.4rem;
  margin-bottom: 4%;
  color: #000;
  font-weight: 600;
}

.first-block .container .first-block_img {
  width: 50%;
}

.first-block .container .first-block_img img {
  width: 100%;
}

.first-block .container .first-block_img .first-block_img_siganture {
  margin-top: 2%;
  width: 100%;
}

.first-block .container .first-block_information-button {
  margin-top: 10px;
  display: flex;
}

.first-block .container .first-block_information-button a {
  text-transform: uppercase;
  border-radius: 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 170px;
  background-color: rgb(2, 43, 105);
}

.first-block-onlytext {
  background-color: rgba(134, 164, 200, 0.4);
}

.first-block-onlytext .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  font-size: 1.2vW;
  text-align: justify;
}

.first-block_images {
  background-color: rgba(134, 164, 200, 0.4);
}

.first-block_images .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
  font-size: 1.2vW;
}

.first-block_images .container .first-block_img {
  display: flex;
}

.first-block_images .container .first-block_img img {
  height: 370px;
  padding: 2%;
}

.first-block_images .container .first-block_img .first-block_img_siganture {
  margin-top: 2%;
  width: 100%;
}

.first-block_images .container .first-block_information-button {
  margin-top: 10px;
  display: flex;
}

.first-block_images .container .first-block_information-button a {
  text-transform: uppercase;
  border-radius: 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 170px;
  background-color: rgb(2, 43, 105);
}

.second-block {
  background-color: white;
}

.second-block .container {
  display: flex;
  justify-content: space-between;
  padding: 4%;
}

.second-block .container .second-block_right_part {
  margin-right: 2%;
  width: 50%;
}

.second-block .container .second-block_right_part .second-block_circle {
  transform: translateY(-107px);
  display: flex;
  margin-left: 444px;
  height: 98px;
  width: 98px;
  background: rgba(0, 110, 166, 0.4);
  border-radius: 50%;
  position: absolute;
  transform: translateY(-47px);
}

.second-block .container .second-block_header {
  font-size: 2.4rem;
  margin-bottom: 4%;
  font-weight: 600;
}

.second-block .container .second-block_img {
  width: 50%;
}

.second-block .container .second-block_img img {
  width: 90%;
}

.second-block .container .second-block_information-button {
  margin-top: 10px;
  display: flex;
}

.second-block .container .second-block_information-button a {
  text-transform: uppercase;
  border-radius: 20px;
  justify-content: center;
  color: white;
  text-decoration: none;
  display: flex;
  line-height: 40px;
  height: 40px;
  width: 170px;
  background-color: rgb(2, 43, 105);
}

#mydiv {
  position: absolute;
  z-index: 9;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

#form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plane-ln {
  vertical-align: middle;
  position: absolute;
  transform: translateX(-103px);
  /* transform: translateY(-20px); */
  width: 230px;
  z-index: 2;
  top: -55px;
}

.container-line {
  width: 900px;
  margin: auto;
  padding: 3%;
}

#tab1,
#tab2,
#tab3,
#tab4,
#tab5 {
  display: none;
  text-align: justify;
}

#tab1.active {
  display: block;
}

#tab1.active .infomation-item-block1 {
  display: flex;
  margin-bottom: 4%;
}

#tab1.active .infomation-item-block1 img {
  width: 50%;
  margin-right: 20px;
  height: 350px;
}

#tab1.active .infomation-item-block2 {
  display: flex;
  width: 100%;
}

#tab1.active .infomation-item-block2 img {
  width: 50%;
  margin-left: 20px;
  height: 350px;
}

#tab2.active {
  display: block;
}

#tab2.active .block1 img {
  width: 100%;
}

#tab3.active {
  display: block;
}

#tab3.active .block1 img {
  width: 100%;
}

#tab3.active .block2 {
  display: flex;
}

#tab3.active .block2 img {
  width: 50%;
  margin-right: 1%;
}

#tab4.active {
  display: block;
}

#tab5.active {
  display: block;
}

#form-title {
  color: rgba(0, 0, 0, 0.829);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }

  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}

.page_1_main {
  margin: 3%;
}

.page_1_main img {
  width: 300px;
  height: 300px;
}

footer {
  padding: 1% 0;
  color: white;
  background-color: #006ea6;
  width: 70%;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;;
}

footer .container {
  padding-left: 2%;
  display: grid;
  grid-template-columns: 30% auto auto;
  grid-column-gap: 10%;
  justify-content: center;
}

footer .container .social_media_history-museum .social_media_history-museum-header {
  font-size: 1.2vW;
  margin-bottom: 3%;
}

footer .container .social_media_history-museum .footer_button_vk {
  font-size: 1vw;
  margin-bottom: 5%;
}

footer .container .social_media_history-museum .footer_button_vk a {
  color: white;
  display: flex;
  font-size: 1vw;
}

footer .container .social_media_history-museum .footer_button_vk .footer_button_vk-bacground {
  display: flex;
  border-radius: 50%;
}

footer .container .social_media_history-museum .footer_button_vk .footer_button_vk-bacground img {
  width: 30px;
  margin-right: 5%;
}

footer .container .social_media_history-museum .footer_button_vk .footer_button_home-bacground {
  display: flex;
  font-size: 1vw;
  margin-right: 5%;
}

footer .container .social_media_history-museum .footer_button_vk .footer_button_home-bacground img {
  width: 30px;
  margin-right: 5%;
}

footer .container .footer_main_inf .footer_main_inf-header {
  font-size: 1.2vW;
  margin-bottom: 3%;
}

footer .container .footer_main_inf .footer_main_inf-text {
  font-size: 1vw;
}

footer .container .footer_main_inf .footer_main_inf-text a {
  color: white;
}

.demo {
  width: 80%;
  margin: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  width: 320px;
  height: 180px;
  margin: 2px;
  border: 1px solid red;
  position: relative;
  overflow: hidden;
}

.wrapper a {
  display: flex;
  width: 100%;
  height: 200px;
}

.img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}

.personality-main {
  margin-top: 20px;
}

.personality-main .personality_first-block {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.personality-main .personality_first-block .personality_first-block-photo {
  width: 50%;
}

.personality-main .personality_first-block .personality_first-block-photo img {
  width: 100%;
}

.personality-main .personality_first-block .personality_first-block-description {
  width: 40%;
}

.navigation_main_information {
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  font-size: 1.2vW;
  background: rgb(0, 110, 166) !important;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation_main_information .container-fluid .navigation_main_information_text {
  display: grid;
  grid-template-columns: auto auto;
}

.navigation_main_information .container-fluid .navigation_main_information_text .logo {
  line-height: 50px;
}

.navigation_main_information .container-fluid .navigation_main_information_text .logo a {
  color: white;
  text-decoration: none;
}

.navigation_main_information .container-fluid .navigation_main_information_text ul {
  display: grid;
  line-height: 50px;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2%;
}

.navigation_main_information .container-fluid .navigation_main_information_text ul li {
  list-style-type: none;
}

.navigation_main_information .container-fluid .navigation_main_information_text ul li a {
  color: #fff;
  text-decoration: none;
}

.navigation_main_information .container-fluid .navigation_main_information_text .feedback {
  line-height: 90px;
}

.navigation_main_information .container-fluid .navigation_main_information_text .feedback a {
  color: white;
  text-decoration: none;
}

.navigation_main_information .container-fluid .navigation_main_information_text .more_inf {
  line-height: 90px;
  color: white;
  border: solid 1px #fff;
}

.page-personalities-main {
  background-color: #006ea6 !important;
}

.main_information_blocks {
  margin-top: 150px;
  position: relative;
  /*.container1{
  	width: 100%;
  	max-width: 1150px;

  }*/
}

.main_information_blocks .container {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 5%;
}

.main_information_blocks .container .main_information_sections {
  max-width: 1150px;
  font-size: 1.2vW;
}

.main_information_blocks .container .main_information_sections .main_information_section1 {
  margin-bottom: 100px;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_blue1 {
  position: absolute;
  width: 75%;
  height: 32rem;
  max-width: 568px;
  max-height: 506px;
  background: #C2DCEA;
  transform: translate(-58px, -523px);
  z-index: 0;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_blue2 {
  background-color: #C2DCEA;
  max-width: 480px;
  max-height: 200px;
  position: absolute;
  width: 30%;
  height: 15rem;
  transform: translate(465px, -469px);
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_blue3 {
  transform: translate(499px, -294px);
  background-color: #C2DCEA;
  position: absolute;
  max-height: 400px;
  max-width: 713px;
  width: 62vW;
  height: 21rem;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_blue3::-webkit-scrollbar {
  display: none;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_orange {
  position: absolute;
  background-color: #E0BA3F;
  max-width: 446px;
  max-height: 590px;
  width: 28rem;
  height: 34rem;
  transform: translate(764px, -796px);
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_background_orange::-webkit-scrollbar {
  display: none;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_part1 {
  max-width: 458px;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_part1 .main_information_section1_text {
  position: relative;
  z-index: 2;
  width: 100%;
  padding-bottom: 2%;
  margin-bottom: 2%;
  border-bottom: #006ea6 solid 2px;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_part1 .main_information_section1_text .main_information_section1-small_text1 {
  font-size: 1.15rem;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_part1 .main_information_section1_text .main_information_section1-header h1 {
  font-size: 1.9rem;
  font-weight: 600;
  margin-bottom: 3%;
}

.main_information_blocks .container .main_information_sections .main_information_section1 .main_information_section1_part1 .main_information_section1_text .main_information_section1-main-text span {
  color: #006EA6;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block {
  width: 100%;
  margin: 8% 0 10% 0;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture {
  display: flex;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_picture_main img {
  width: 1150px;
  max-width: 1150px;
  z-index: 2;
  position: relative;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_picture_main .main_information_section1_picture_block_description {
  font-size: 20px;
  text-align: right;
  position: relative;
  z-index: 2;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_blue1 {
  position: absolute;
  width: 75%;
  height: 32rem;
  max-width: 636px;
  max-height: 533px;
  background: #C2DCEA;
  transform: translate(-126px, -74px);
  z-index: 0;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_blue2 {
  background-color: #C2DCEA;
  max-width: 480px;
  max-height: 200px;
  position: absolute;
  width: 30%;
  height: 15rem;
  transform: translate(465px, -22px);
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_blue3 {
  transform: translate(499px, 154px);
  background-color: #C2DCEA;
  position: absolute;
  max-height: 400px;
  max-width: 905px;
  width: 62vW;
  height: 21rem;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_blue3::-webkit-scrollbar {
  display: none;
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_orange {
  position: absolute;
  background-color: #E0BA3F;
  max-width: 673px;
  max-height: 590px;
  width: 74rem;
  height: 34rem;
  transform: translate(731px, -374px);
}

.main_information_blocks .container .main_information_sections .main_information_section1_picture_block .main_information_section1_picture .main_information_section1_background_orange::-webkit-scrollbar {
  display: none;
}

.main_information_blocks .container .main_information_sections .main_information_section2 {
  margin-bottom: 10%;
  width: 100%;
}

.main_information_blocks .container .main_information_sections .main_information_section2 hr {
  position: absolute;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 {
  display: flex;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part1 {
  width: 50%;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part1 .main_information_section2_part1_text1 {
  margin-bottom: 2%;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part1 .main_information_section2_part1_text2 {
  margin-bottom: 2%;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 {
  width: 50%;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 .main_information_section2_part2_img {
  margin-left: 10%;
  display: flex;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 .main_information_section2_part2_img .main_information_section2_part2_imgblock {
  z-index: 2;
  position: relative;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 .main_information_section2_part2_img .main_information_section2_part2_imgblock img {
  max-width: 500px;
  margin-left: 4%;
  z-index: 1;
  width: 100%;
  height: auto;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 .main_information_section2_part2_img .main_information_section2_part2_imgblock .main_information_section2_part2_description {
  margin-left: 6%;
  font-size: 19.8px;
}

.main_information_blocks .container .main_information_sections .main_information_section2 .container1 .main_information_section2_part2 .main_information_section2_part2_img .main_information_section2_part2_block {
  position: absolute;
  width: 34rem;
  height: 27rem;
  background-color: #c2dcea;
  z-index: 0;
  transform: translate(29px, 21px);
}

.main_information_blocks .container .main_information_sections .main_information_section3 {
  margin-bottom: 5%;
}

.main_information_blocks .container .main_information_sections .main_information_section3 .text {
  text-align: justify;
  max-width: 1150px;
  width: 100%;
  margin-bottom: 3%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 {
  margin-bottom: 80px;
  height: 745px;
  padding-top: 21px;
  position: relative;
  width: 100%;
  padding-right: 2%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 {
  display: flex;
  font-size: 1, 125rem;
  justify-content: space-between;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture1 {
  width: 35%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture1 img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  max-width: 397px;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture1 .main_information_section4_block_blue {
  width: 33rem;
  z-index: 0;
  height: 80%;
  position: absolute;
  background-color: #c2dcea;
  transform: translate(-68px, -548px);
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture2 {
  width: 35%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture2 img {
  width: 100%;
  height: auto;
  z-index: 1;
  position: relative;
  max-width: 397px;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part1 .main_information_section4_picture2 .main_information_section4_block_orange {
  width: 27rem;
  z-index: 0;
  height: 80%;
  position: absolute;
  background-color: #e0ba3f;
  transform: translate(-17px, -564px);
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part2 {
  position: relative;
  height: 154px;
  width: 100%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part2 .main_information_section4_part2_textfull {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #E0BA3F;
  /* width: 100%; */
  height: 100%;
  width: 76rem;
  transform: translate(-68px, -2px);
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part2 .main_information_section4_part2_textfull .main_information_section4_part2_text2 {
  max-width: 397px;
  margin-left: 38%;
}

.main_information_blocks .container .main_information_sections .main_information_section4 .main_information_section4_part2 .main_information_section4_part2_textfull .main_information_section4_part2_text1 {
  max-width: 397px;
  margin-left: 24%;
}

.main_information_blocks .container .main_information_sections .main_information_section5 {
  margin-bottom: 100px;
}

.main_information_blocks .container .main_information_sections .main_information_section5 .main_information_section5_img {
  position: relative;
}

.main_information_blocks .container .main_information_sections .main_information_section5 .main_information_section5_img .main_information_section5_img_text {
  text-align: left;
  margin-bottom: 2%;
  z-index: 1;
  position: relative;
}

.main_information_blocks .container .main_information_sections .main_information_section5 .main_information_section5_img img {
  width: 100%;
  z-index: 1;
  position: relative;
  margin-bottom: 10px;
}

.main_information_blocks .container .main_information_sections .main_information_section5 .main_information_section5_img .main_information_section5_img_block_blue {
  position: absolute;
  width: 72rem;
  height: 27rem;
  background-color: #c2dcea;
  z-index: 0;
  transform: translate(-66px, -503px);
}

.main_information_blocks .container .main_information_sections .main_information_section5 .main_information_section5_img .main_information_section5_caption {
  text-align: right;
  font-size: 20px;
}

.main_information_blocks .container .main_information_sections .main_information_section6 {
  margin-bottom: 100px;
}

.main_information_blocks .container .main_information_sections .main_information_section6 hr {
  position: absolute;
  border: #006EA6 0.1px solid;
  opacity: 1;
  width: 80rem;
  transform: translate(-65px, -56px);
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part1 .main_information_section6_part1_text {
  text-align: justify;
  margin-bottom: 30px;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 {
  display: flex;
  justify-content: space-between;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img1 {
  width: 30.6%;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img1 img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img1 .main_information_section6_part2_text {
  font-size: 20px;
  text-align: right;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img2 {
  width: 60%;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img2 img {
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.main_information_blocks .container .main_information_sections .main_information_section6 .main_information_section6_part2 .main_information_section6_part2_img2 .main_information_section6_part2_text {
  font-size: 20px;
  text-align: right;
}

.main_information_blocks .container .main_information_sections .main_information_section7 {
  margin-bottom: 150px;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf {
  z-index: 2;
  position: relative;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part1 {
  margin-bottom: 30px;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  grid-gap: 10%;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part2 .main_information_section7_inf_part2_img1 img {
  width: 100%;
  height: auto;
  max-width: 535px;
  max-height: 368px;
  margin-bottom: 20px;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part2 .main_information_section7_inf_part2_img1 .main_information_section7_inf_part2_img1_text {
  font-size: 20px;
  text-align: right;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part2 .main_information_section7_inf_part2_img2 {
  text-align: right;
  font-size: 20px;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_inf .main_information_section7_inf_part2 .main_information_section7_inf_part2_img2 img {
  width: 100%;
  height: auto;
  max-width: 535px;
  max-height: 368px;
  margin-bottom: 20px;
}

.main_information_blocks .container .main_information_sections .main_information_section7 .main_information_section7_orange {
  z-index: 0;
  position: absolute;
  background-color: #ffffff;
  width: 86rem;
  height: 47rem;
  border-bottom: #e0ba3f 30px solid;
  border-top: #e0ba3f 30px solid;
  border-right: #e0ba3f 95px solid;
  /* border: #e0ba3f 40px solid; */
  transform: translate(-104px, -680px);
}

.main_information_blocks .container .main_information_sections .main_information_section8 {
  margin-bottom: 100px;
}

.main_information_blocks .container .main_information_sections .main_information_section8 .main_information_section8_inf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 60px;
}

.main_information_blocks .container .main_information_sections .main_information_section8 .main_information_section8_inf .main_information_section8_inf_part1 h2 {
  padding-bottom: 4%;
}

.main_information_blocks .container .main_information_sections .main_information_section8 .main_information_section8_inf .main_information_section8_inf_part2 {
  padding-top: 10%;
}

.main_information_blocks .container .main_information_sections .main_information_section8 .main_information_section8_inf .main_information_section8_inf_part2 .main_information_section8_inf_part2_caption {
  padding-top: 4%;
  font-size: 20px;
  text-align: right;
}

.main_information_navigation {
  padding-top: 4%;
  display: flex;
  justify-content: right;
  border-right: 2px solid #022b69;
  padding-right: 15px;
}

.main_information_navigation .main_information_navigation_yakors {
  font-size: 24px;
  /*height: 100%;
  border-right: #006ea6 solid 2px;
  padding-right: 10%;*/
}

.main_information_navigation .main_information_navigation_yakors .link_yakor {
  display: flex;
  justify-content: right;
}

.main_information_navigation .main_information_navigation_yakors a {
  display: flex;
  color: rgb(15, 107, 143);
  text-decoration: none;
  padding-top: 2%;
}

.block_only-text .container {
  padding: 2%;
  text-align: justify;
}

.personalities_blocks {
  margin-top: 150px;
  position: relative;
  margin-bottom: 100px;
}

.personalities_blocks .container {
  grid-column-gap: 5%;
}

.personalities_blocks .container .personalities_blocks_sections {
  display: grid;
  grid-row-gap: 100px;
}

.personalities_blocks .container .personalities_blocks_sections p {
  font-size: 1.2vw;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 5%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  margin-bottom: 100px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg {
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: auto auto;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg img {
  width: 100%;
  max-width: 250px;
  z-index: 2;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg .personalities_blocks_section1_leftPart_img_Blueblock {
  background: #C2DCEA;
  transform: rotate(346deg);
  width: 18rem;
  height: 20rem;
  position: absolute;
  z-index: 1;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPart_text {
  font-size: 1vw;
  color: #006EA6;
  padding-left: 20px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart h1 {
  font-size: 1.4vw;
  font-weight: 700;
  margin-bottom: 5%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart .personalities_blocks_section1_rightPart_text p {
  font-size: 1.2vw;
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section2 p {
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_lineOrange .personalities_blocks_section3_line1Orange {
  width: 100%;
  height: 33px;
  background-color: #E0BA3F;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_lineOrange .personalities_blocks_section3_line2Orange {
  width: 50%;
  height: 50px;
  background-color: #E0BA3F;
  margin-left: auto;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_mainblocks {
  display: grid;
  grid-template-columns: auto 50%;
  grid-column-gap: 5%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_mainblocks .personalities_blocks_section3_leftBlock .personalities_blocks_section3_leftBlock_text p {
  font-size: 1.2vw;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_mainblocks .personalities_blocks_section3_rightBlock {
  display: grid;
  grid-row-gap: 20px;
  text-align: right;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_mainblocks .personalities_blocks_section3_rightBlock img {
  width: 100%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section3 .personalities_blocks_section3_mainblocks .personalities_blocks_section3_rightBlock .personalities_blocks_section3_rightBlock_text {
  font-size: 1.2vw;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section4 .personalities_blocks_section2_additional_text p {
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 {
  display: grid;
  grid-template-columns: auto 50%;
  grid-column-gap: 10%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_leftblock {
  align-items: center;
  display: flex;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_text {
  padding-right: 6%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_text p {
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_line {
  height: 45%;
  border-right: #006EA6 solid 3px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img img {
  width: 100%;
  z-index: 2;
  position: relative;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img .personalities_blocks_section5_rightblock_img-orange {
  width: 26vw;
  height: 29rem;
  position: absolute;
  z-index: 1;
  max-width: 523px;
  max-height: 463px;
  background: #e0ba3f;
  transform: translate(107px, -103px);
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img .personalities_blocks_section5_rightblock_img-blue {
  width: 37vw;
  height: 29rem;
  position: absolute;
  z-index: 1;
  max-width: 821px;
  max-height: 576px;
  background: #c2dcea;
  transform: translate(-39px, -33px) rotate(9deg);
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section5 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img .personalities_blocks_section5_rightblock_img_text {
  text-align: right;
  position: relative;
  z-index: 3;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 {
  display: grid;
  grid-template-columns: 50% auto;
  grid-column-gap: 10%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_leftblock {
  align-items: center;
  display: flex;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_text {
  padding-left: 6%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_text p {
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_leftblock .personalities_blocks_section5_leftblock_line {
  height: 45%;
  border-right: #006EA6 solid 3px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img img {
  width: 100%;
  z-index: 2;
  position: relative;
  max-height: 380px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img .personalities_blocks_section5_rightblock_img-orange {
  width: 31vw;
  height: 25rem;
  position: absolute;
  z-index: 1;
  max-height: 576px;
  max-width: 730px;
  background: #e0ba3f;
  transform: translate(-39px, -33px) rotate(341deg);
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section6 .personalities_blocks_section5_rightblock .personalities_blocks_section5_rightblock_img .personalities_blocks_section5_rightblock_img_text {
  text-align: right;
  position: relative;
  z-index: 3;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section7 p {
  text-align: justify;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section8 {
  margin-bottom: 50px;
  display: flex;
  justify-content: right;
  padding-top: 5%;
  border-top: #006EA6 solid 3px;
  margin-top: -40px;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section8 .personalities_blocks_section8text {
  width: 60%;
}

.personalities_blocks .container .personalities_blocks_sections .personalities_blocks_section8 .personalities_blocks_section8text p {
  color: #006EA6;
  text-align: right;
}

.personalities_blocks_main {
  margin-top: 150px;
  position: relative;
  margin-bottom: 100px;
}

.personalities_blocks_main .container {
  grid-column-gap: 5%;
}

.personalities_blocks_main .container .personalities_blocks_sections {
  display: grid;
  grid-row-gap: 100px;
}

.personalities_blocks_main .container .personalities_blocks_sections p {
  font-size: 1.2vw;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 {
  display: grid;
  grid-template-columns: 30% auto;
  grid-column-gap: 5%;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart {
  display: grid;
  grid-template-rows: auto auto;
  grid-row-gap: 20px;
  margin-bottom: 100px;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg {
  display: grid;
  grid-row-gap: 30px;
  grid-template-rows: auto auto;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg img {
  width: 100%;
  max-width: 400px;
  z-index: 2;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPartimg .personalities_blocks_section1_leftPart_img_Blueblock {
  background: #C2DCEA;
  transform: rotate(346deg);
  width: 23rem;
  height: 32rem;
  position: absolute;
  z-index: 1;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_leftPart .personalities_blocks_section1_leftPart_text {
  font-size: 1vw;
  color: #006EA6;
  padding-left: 20px;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart h1 {
  font-size: 1.4vw;
  font-weight: 700;
  margin-bottom: 5%;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart .personalities_blocks_section1_rightPart_text p {
  font-size: 1.2vw;
  text-align: justify;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart .personalities_blocks_section1_rightPart_readmore {
  display: flex;
  justify-content: right;
}

.personalities_blocks_main .container .personalities_blocks_sections .personalities_blocks_section1 .personalities_blocks_section1_rightPart .personalities_blocks_section1_rightPart_readmore a {
  background-color: #C2DCEA;
  padding: 8px;
  color: #000;
  text-decoration: none;
  font-size: 1.2vW;
}

.personalities-slider .fa-angle-left {
  height: 46px;
  width: 46px;
  text-align: center;
  line-height: 46px;
  background-color: rgb(141, 92, 1);
  border-radius: 50%;
}

.personalities-slider .corousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.personalities_blocks-slider {
  margin-bottom: 100px;
  display: flex;
  max-width: 1440px;
  position: relative;
  background-color: #c2dcea;
  padding: 0 7.5%;
}

.personalities_blocks-slider span {
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.personalities_blocks-slider span:active {
  transform: translateY(-50%) scale(0.9);
}

.personalities_blocks-slider span:hover {
  background: #f2f2f2;
}

.personalities_blocks-slider span:first-child {
  left: 50px;
  display: none;
}

.personalities_blocks-slider span:last-child {
  right: 50px;
}

.personalities_blocks-slider .carousel {
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}

.carousel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carousel.dragging img {
  pointer-events: none;
}

.carousel a {
  margin-left: 44px;
  object-fit: cover;
  user-select: none;
}

.carousel img {
  height: 370px;
  width: 270px;
}

.carousel img:first-child {
  margin-left: 0px;
}

@media screen and (max-width: 550px) {
  .carousel img {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .main-photo .opacity-photo {
    background-size: contain;
  }

  .opacity-photo.img_adaptiv {
    background-size: contain;
}
}

@media screen and (max-width: 900px) {
  .carousel img {
    width: 50%;
  }

  .main-photo .opacity-photo {
    background-size: contain;
  }
}

/* Задаем высоту большим блокам, чтобы у нас на странице получится скролл */
@media screen and (min-width: 2000px) {
  .caption {
    font-size: 20px !important;
  }

  .zero_block_header {
    font-size: 50px !important;
  }

  .main-text-header {
    font-size: 50px !important;
  }

  .zero-block_information_mainText {
    font-size: 24px !important;
  }

  p {
    font-size: 24px !important;
  }
}

/*# sourceMappingURL=style.css.map */